services:
  - type: web
    name: kalpjyotish-backend
    env: node
    rootDir: .
    plan: free
    buildCommand: npm install
    startCommand: npm start
    autoDeploy: true
    healthCheckPath: /
